.home-container {
  width: 100%;
  max-width: 1440px;
  font-size: 48px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.left-content {
  display: none;
}

.home-title {
  font-size: 1em;
  padding-top: 81px;
  padding-left: 97px;
}

.home-subtitle h2 {
  font-size: 28px;
  padding-top: 19px;
  padding-left: 97px;
  padding-bottom: 51px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #fff;
  font-weight: normal;
}

.home-image-container {
  padding-left: 70px;
}

.card-container {
  width: 100%;
  padding: 15px;
  border: 1px solid red;
}

@media (min-width:1200px) {
  .card-container {
    width: 479px;
    margin-left: 353px;
    margin-top: 43px;
    margin-right: 116px;
  }

  .left-content {
    display: block;
  }
}
