.main-nav {
  min-height: 68px;
  padding-left: 49px;
  padding-bottom: 17px;
  padding-top: 18px;
}

.nav-logo-text h4{
  font-size: 24px;
  color: var(--black);
  line-height: 33px;
  letter-spacing: -0.015em;
}

.navbar-content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
