.base-card {
  width: 258px;
  height: 322px;
}

.movie-card {
  margin-right: 20px;
}
.card-top {
  padding: 16px 0;
}

.card-top img {
  text-align: center;
  width: 258px;
  height: 165px;
}

.card-bottom {
  padding: 10px 10px 30px 15px;
}

.card-bottom h4 {
  font-size: 20px;
  color: #ffffff;
}

.card-bottom h6 {
  font-size: 16px;
  color: #ffc700;
}

.card-bottom p {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
}
