.base-card {
    width: 258px;
    height: 322px;
}
.movie-card {
    margin-right: 20px;
    border: 2px solid red
}
.card-top {
    border: 2px solid yellow;
    padding: 16px 0;
}

.card-top img{
text-align: center;
width: 258px;
height: 165px;
}

.card-bottom {
    border: 2px solid white;
    padding: 10px 10px 30px 15px;
}

.card-bottom h4{
    font-size: 20px;
    color: #FFFFFF;
}

.card-bottom h6{
    font-size: 16px;
    color: #FFC700;
}